$page-width: 50rem;
$bg-light: #fefefe;
$bg-dark: #181a1b;
$text-light: #444;
$text-dark: #eee;
$link-dark: #3391ff;
$link-visited-dark: #be7df8;
$bg-code-light: #f9f9f9;
$bg-code-dark: #282a36;
$border-light: #ddd;
$border-dark: #333;
