{% extends "base.html" %}

{% block head %}
<title>{{ page.title }}</title>

<meta name="title" content="{{ page.title }}" />
<meta name="author" content="{{ page.authors[0] }}" />
<meta name="description" content="{{ page.description }}" />
<meta name="dcterms:date" content="{{ page.date }}" />
{% endblock %}

{% block header %}
<a href="#main" class="skip-to-content">Skip to content</a>
{{ super() }}
{% endblock %}

{% block nav %}
| <a href="/articles/">Archive</a>
{% endblock %}

{% block body %}
<article>
	<h1>{{ page.title }}</h1>

	<aside class="info">
		<p>By {{ page.authors | join(sep=", ") }} on {{ page.date | date(format="%B %-d, %Y") }}</p>

		{% if page.updated %}
		<p>
			Updated on {{ page.updated | date(format="%B %-d, %Y") }}

			&mdash; {{ page.extra.notes | safe }}
		</p>
		{% endif %}

		<p>Read time: {{ page.reading_time * 1.2 | round }} minutes</p>

		<hr/>
	</aside>

	<main id="main">
		{{ page.content | safe }}
	</main>
</article>

<div class="nav">
	<a href="#top">&uparrow; Back to top</a>
</div>
{% endblock %}
