{% extends "base.html" %}

{% block head %}
<title>{{ section.title }}</title>
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<!-- Introduction -->
<h1 class="home">Christopher Knight&rsquo;s</h1>
<sup>Personal website</sup>

{{ section.content | safe }}

<!-- Projects -->
{% set projects = load_data(path="data/projects.yaml") %}
<h2><a href="https://github.com/reujab" class="implicit-link" target="_blank">Projects</a></h2>
<div class="projects">
	{% for project in projects %}
	<a href="https://github.com/{{ project.repo }}" class="project" target="_blank">
		<div class="project-name">{{ project.name }}</div>
		<div class="project-description">{{ project.description }}</div>
	</a>
	{% endfor %}
</div>

<!-- Article summaries -->
<h2><a href="/articles/" class="implicit-link">Articles</a></h2>
{% set articles = get_section(path="articles/_index.md") %}
{% for article in articles.pages %}
<article>
	<h3><a href="{{ article.path | safe }}" class="implicit-link">{{ article.title }}</a></h3>
	{{ article.summary | safe }}
	...
	<p><a href="{{ article.path | safe }}">Continue reading &rarr;</a></p>
</article>
{% endfor %}

<!-- Archive -->
<div class="nav">
	<a href="/articles/" class="nav">Archive</a>
</div>
{% endblock %}
