$bg-light: #fefefe
$bg-dark: #181a1b
$text-light: #444
$text-dark: #eee
// Ref: github.com
$bg-code-light: #f6f8fa
$bg-code-dark: #1c1e1f
$border-light: #ddd
$border-dark: #333

html
	background: $bg-light
	color: $text-light
	font-family: Georgia, Palatino Linotype, serif
	font-size: 12pt
	line-height: 1.5
	scroll-behavior: smooth

body
	margin: auto
	max-width: 50em
	padding: 1em

// I'm less likely to click a purple link.
.home:visited:not(:active)
	color: blue

.info
	margin-top: -1em

img
	max-width: 100%

sup
	line-height: 0

.sourceCode, code, kbd
	background-color: $bg-code-light
	font-family: Consolas, Fira Mono, FiraMono Nerd Font Mono, Source Code Pro, Noto Sans Mono, Liberation Mono, monospace

pre
	margin: 1em !important
	// This makes the margin visible inside a scrollable container.
	display: inline-block

kbd
	border: 1px solid $border-light
	border-radius: 5px
	padding: 1px 2px
	font-size: 11pt

	// A box shadow is used to avoid increasing the element size.
	// Ref: github.com
	box-shadow: $border-light 0 -1px inset

.hanging-indent
	margin-left: 2em
	text-indent: -2em

	// Realistically, the only words that need to be broken are URLs.
	// This helps with long URLs on WebKit-based mobile browsers.
	// Seems to only be required on Android's Chrome.
	a
		overflow-wrap: break-word

@media (prefers-color-scheme: dark)
	html
		background: $bg-dark
		color: $text-dark

	a
		// Override home.
		color: #3391ff !important

	.sourceCode, code, kbd
		background-color: $bg-code-dark

	kbd
		border-color: $border-dark
		box-shadow: $border-dark 0 -1px inset

@media print
	.nav, a[href^=fr-]
		display: none

	a[href^=\#]
		color: $text-light
